/Tests/app/parameters.yml
/vendor/
Tests/app/cache
Tests/app/logs
composer.lock
/.idea/
Tests/TestData/Coverage
Tests/TestData/root_path/
!Tests/TestData/root_path/.gitkeep
/nbproject/private/
/nbproject